h1, 
h2,
h3,
h4 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.9rem;
    text-decoration: underline #ffa949;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#home,
#about {
    height: 100vh;
}

#home,
#about,
#projects,
#contact {
    /* height: 100vh; */
    border-bottom: 5px solid #ffa949;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid #ffa949;
}

.jumbotron {
    color: white;
    background: url("../images/charles-deluvio-unsplash.jpg") no-repeat center / cover;
}

.profile-image {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 2px solid #ffa949;
    transition: all .5s;
}

.profile-image:hover {
    transform: scale(1.25) rotate(360deg);
}

.card {
    border: 2px solid #000;
    box-shadow: 1px 2px #888888;
}